*{
    margin: 0;
    padding: 0;
}

.back{
    background: blue;
    width: 100%;
    height: 50px;
}

.back a{
    color: darkblue;
    text-decoration: none;
    transition: 0s;
    margin: 30px;
}
.back a:hover{
    color: white;
}

button a{
    color: cyan;
    margin-left: 500px;
    font-size: 40px;
    text-decoration: none;
    width: fit-content;
}

body{
    background: url(parking.jpg);
    background-size: cover;
    
}

.st h1{
    color: white;
}