*{
    margin: 0;
    padding: 0;
}

.back{
    background: cyan;
    width: 100%;
    height: 50px;
}

.back a{
    color: darkblue;
    text-decoration: none;
    transition: 0s;
    margin: 30px;
}
.back a:hover{
    color: white;

}

fieldset{
    width: fit-content;
    margin-top: 100px;
}

.p{
    color: white;
    
}

input{
    background: transparent;
    color: white;
}

.xx{
    margin-left: 500px;
}

body{
    background-size: cover;
}